# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*
.venv/

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Logs
# =========================
*.log

# =========================
# FastAPI / Uvicorn
# =========================
uvicorn.log

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
