# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build Output
# =========================
dist/
build/
.next/
out/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Vite / React
# =========================
.vite/
